@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  --line-color: rgb(229, 231, 235);
}

html.light {
  --line-color: rgb(213, 215, 219);
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border-black/10;
}
